@import "variables.scss";
@import "common.scss";

.conversation-container {
  .image-details {
    object-fit: scale-down;
    max-width: 100%;
    margin-top: 10px;
  }
  
  .image-frame {
    object-position: 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}
