{
  "presets": [
    "env",
    "react" 
  ],
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src",
      "rootPathPrefix": "@"
    }],
    "transform-class-properties",
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "constants": "./src/constants.js",
        "assets": "./assets",
        "tests-mocks": "./mocks",
        "actions": "./src/store/actions",
        "helper": "./src/store/reducers/helper.js",
        "messagesComponents": "./src/components/Widget/components/Conversation/components/Messages/components"
      }
    }]
  ],
  "env": { // For React Native
    "production": {
      "plugins": [
        ["babel-plugin-root-import", {
          "rootPathSuffix": "src",
          "rootPathPrefix": "@"
        }]
      ]
    }
  }
}
