@import "common.scss";
@import "variables.scss";
@import "animation.scss";

.launcher {
  @include animation(0, 0.5s, slide-in);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-1;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 1px $grey-3;
  height: 60px;
  margin-top: 10px;
  width: 60px;

  &:focus {
    outline: none;
  }
  
  &.hide {
    display: none
  }

  &.full-screen {
    @include launcher-fs;
  }
  
  img {
    width: 70%;
    max-height: 70%;
    object-fit: contain;
  }

  .unread-count-pastille {
    background-color: #e41c23;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
  }

  .tooltip-body {
    background-color: white;
    border-radius: 8px;
    position: absolute;
    right: 78px;
    bottom: 12px;
    box-shadow: 1px 0px 13px 3px rgba(0, 0, 0, 0.15);
    width: 280px;
    font-size: 1.4em;
    padding: 0px 8px;
    line-height: 1.4em;
    animation: slideUp 0.3s ease-in-out;
    transition: all 0.2s ease-in-out;
    max-width: 50vw;
    &:hover {
      background-color: rgb(250, 250, 250);
      transform: translateY(-2px);
      cursor: pointer;
      .tooltip-decoration {
        background: rgb(250, 250, 250);
      }
      .tooltip-close {
        visibility: visible;
      }
    }
    .image-details {
      object-fit: scale-down;
      max-width: 100%;
      margin-top: 8px;
      margin-bottom: 2px;
    }
    .replies {
      @include replies;
      justify-content: center;
      margin-left: 10px;
    }
    
    .reply {
      @include reply;
    }

    .response {
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
    }
    .image-frame {
      object-position: 0 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 9px;
    }
  
    .tooltip-close {
      visibility: hidden;
      position: absolute;
      top: 5px;
      right: 10px;
      color: red;
      height: 15px;
      width: 15px;
      transition: all 0.2s ease-in-out;
      button{
        border: none;
        padding: 0;
      }
  }
  }
  .tooltip-decoration {
    position: absolute;
    bottom: 12px;
    right: -6px;
    background: white;
    height: 12px;
    width: 12px;
    transition: all 0.2s ease-in-out;
    clip-path: polygon(100% 50%, 50% 0, 50% 100%);
  }

  .tooltip-response {
   margin-top:1.5rem
  }

 
}

@keyframes slideUp {
  from {opacity: 0; transform: translateY(8px);}
  to {opacity: 1; transform: translateY(0);}
}

.open-launcher {
  @include animation(0, 0.5s, rotation-rl);
}

.close-launcher {
  &.default {
    width: 20px !important;
  }
  @include animation(0, 0.5s, rotation-lr);
}

@media screen and (max-width: 800px) {
  .launcher {
    @include launcher-fs;
  }

  .hide-sm {
    display: none;
  }
}
