@import "common.scss";
@import "variables.scss";
@import "animation.scss";

.launcher {
  @include animation(0, 0.5s, slide-in);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-1;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 1px $grey-3;
  height: 60px;
  margin-top: 10px;
  width: 60px;

  &:focus {
    outline: none;
  }
  
  &.hide {
    display: none
  }

  &.full-screen {
    @include launcher-fs;
  }
  
  img {
    width: 70%;
    max-height: 70%;
    object-fit: contain;
  }

  .unread-count-pastille {
    background-color: #e41c23;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
  }
  .tooltip-body {
    background-color: white;
    border-radius: 8px;
    position: absolute;
    right: 78px;
    bottom: 12px;
    box-shadow: 1px 0px 13px 3px rgba(0, 0, 0, 0.15);
    max-height: 100px;
    min-width: 280px;
    font-size: 1.4em;
    padding: 0px 3px;
    line-height: 1.4em;
    animation: slideUp 0.3s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: rgb(250, 250, 250);
      transform: translateY(-2px);
      cursor: pointer;
      .tooltip-decoration {
        background: rgb(250, 250, 250);
      }
    }
  }
  .tooltip-decoration {
    position: absolute;
    bottom: 12px;
    right: -3px;
    transform: rotate(45deg);
    background: white;
    height: 10px;
    width: 10px;
    transition: all 0.2s ease-in-out;
  }
}

@keyframes slideUp {
  from {opacity: 0; transform: translateY(8px);}
  to {opacity: 1; transform: translateY(0);}
}

.open-launcher {
  @include animation(0, 0.5s, rotation-rl);
}

.close-launcher {
  &.default {
    width: 20px !important;
  }
  @include animation(0, 0.5s, rotation-lr);
}

@media screen and (max-width: 800px) {
  .launcher {
    @include launcher-fs;
  }

  .hide-sm {
    display: none;
  }
}
