@import "common.scss";
@import "variables.scss";
@import "animation.scss";

.launcher {
  @include animation(0, 0.5s, slide-in);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-1;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 1px $grey-3;
  height: 60px;
  margin-top: 10px;
  width: 60px;

  &:focus {
    outline: none;
  }
  
  &.hide {
    display: none
  }

  &.full-screen {
    @include launcher-fs;
  }
  
  img {
    width: 70%;
    max-height: 70%;
    object-fit: contain;
  }
}

.open-launcher {
  @include animation(0, 0.5s, rotation-rl);
}

.close-launcher {
  &.default {
    width: 20px !important;
  }
  @include animation(0, 0.5s, rotation-lr);
}

@media screen and (max-width: 800px) {
  .launcher {
    @include launcher-fs;
  }

  .hide-sm {
    display: none;
  }
}
