@import "variables.scss";
.#{$namespace}widget-wrapper-css {
  @import "common.scss";
  @import "animation.scss";
  .#{$namespace}markdown {
      p {
          margin: 10px;
      }
  }
  .#{$namespace}widget-container > .#{$namespace}conversation-container {
      .#{$namespace}title{
          color: white;
      }
      .#{$namespace}message.#{$namespace}typing-indication .#{$namespace}response {
          height: 37px;
      }
  }

  .#{$namespace}launcher {
      background-color: $tertiary;
      margin: 0;
  }

  .#{$namespace}conversation-container{
      @media screen and (min-width: 800px){
          margin-bottom: 10px;
      }
      /* height: 600px; */
      .#{$namespace}client {
          background-color: $tertiary !important;
          max-width: 85%;
      }
      .#{$namespace}header {
          background-color: $tertiary !important;
      }

      .#{$namespace}response {
          max-width: 85%;
      }
      .#{$namespace}message {
          font-size: 16px;
          line-height: 20px;
          font-family: 'Poppins' !important;
      }

      .#{$namespace}replies {
          font-size: 16px;
          line-height: 20px;
          font-family: 'Poppins' !important;
      }

      #messages {
          @media screen and (min-width: 800px){
              height: 545px;
              max-height: 50vh;
          }
      }

      .#{$namespace}send {
          height: 0px;
          .#{$namespace}send-icon {
              display: none;
          }
      }

      .#{$namespace}sender {
          height: 50px;
      }

      ul {
          padding-left: 10px;
          list-style: disc;
      }

      .#{$namespace}new-message {
          font-size: 1em;
          width: 100%;
          border: 0;
          background-color: #f4f7f9;
          height: 35px;
          padding-left: 15px;
      }

      .#{$namespace}close-button {
          background-color: $tertiary;
      }
  }

  .#{$namespace}launcher {
    @include animation(0, 0.5s, slide-in);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-1;
    border: 0;
    border-radius: 50%;
    box-shadow: 0px 2px 10px 1px $grey-3;
    height: 60px;
    margin-top: 10px;
    width: 60px;

    &:focus {
      outline: none;
    }
    
    &.#{$namespace}hide {
      display: none
    }

    &.#{$namespace}full-screen {
      @include launcher-fs;
    }
    
    img {
      width: 70%;
      max-height: 70%;
      object-fit: contain;
    }

    .#{$namespace}unread-count-pastille {
      background-color: #e41c23;
      color: white;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      right: 0;
      font-weight: 700;
    }

    .#{$namespace}tooltip-body {
      background-color: white;
      border-radius: 8px;
      position: absolute;
      right: 78px;
      bottom: 12px;
      box-shadow: 1px 0px 13px 3px rgba(0, 0, 0, 0.15);
      width: 280px;
      font-size: 1.4em;
      padding: 0px 8px;
      line-height: 1.4em;
      animation: slideUp 0.3s ease-in-out;
      transition: all 0.2s ease-in-out;
      max-width: 50vw;
      &:hover {
        background-color: rgb(250, 250, 250);
        transform: translateY(-2px);
        cursor: pointer;
        .#{$namespace}tooltip-decoration {
          background: rgb(250, 250, 250);
        }
      }
      .#{$namespace}image-details {
        object-fit: scale-down;
        max-width: 100%;
        margin-top: 8px;
        margin-bottom: 2px;
      }
      .#{$namespace}replies {
        @include replies;
        justify-content: center;
        margin-left: 10px;
      }
      
      .#{$namespace}reply {
        @include reply;
      }

      .#{$namespace}response {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
      }
      .#{$namespace}image-frame {
        object-position: 0 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 9px;
      }
    }
    .#{$namespace}tooltip-decoration {
      position: absolute;
      bottom: 12px;
      right: -6px;
      background: white;
      height: 12px;
      width: 12px;
      transition: all 0.2s ease-in-out;
      clip-path: polygon(100% 50%, 50% 0, 50% 100%);
    }

    .#{$namespace}tooltip-response {
    margin-top:1.5rem
    }

    .#{$namespace}tooltip-close {
      position: absolute;
      top: 2px;
      right: 10px;
      color: red;
      height: 15px;
      width: 15px;
      transition: all 0.2s ease-in-out;
      button{
        cursor: pointer;
        border: none;
        padding: 0;
      }
    }
  }

  @keyframes slideUp {
    from {opacity: 0; transform: translateY(8px);}
    to {opacity: 1; transform: translateY(0);}
  }

  .#{$namespace}open-launcher {
    @include animation(0, 0.5s, rotation-rl);
  }

  .#{$namespace}close-launcher {
    &.#{$namespace}default {
      width: 20px !important;
    }
    @include animation(0, 0.5s, rotation-lr);
  }

  @media screen and (max-width: 800px) {
    .#{$namespace}launcher {
      @include launcher-fs;
    }

    .#{$namespace}hide-sm {
      display: none;
    }
  }
}
