@import "variables.scss";

@import "common.scss";

.#{$namespace}conversation-container {
  
  .#{$namespace}message {
    margin: 24px 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font: $speechbubble-font;
  
    .#{$namespace}markdown {
      p {
        margin: 0;
      }
      img {
        max-width: 100%;
      }
    }
  }
  
  .#{$namespace}client {
    @include message-bubble($accent, $white);
    background-color: $tertiary ;
    margin-left: auto;
    overflow-wrap: break-word;
    a {
      color: $turqois-1;
    }
  }
  
  .#{$namespace}response {
    @include message-bubble($gray-6, $gray-80, 20px);
    overflow-wrap: break-word;
  }
  
  /* For markdown elements created with default styles */
  .#{$namespace}message-text {
    margin: 0;
    .#{$namespace}markdown{
      p{
        margin-bottom: 1em;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

}
