@import "variables.scss";
@import "common.scss";

.conversation-container {

  .replies {
    @include replies;
  }
  
  .reply {
    @include reply;
  }
  
  .response {
    @include message-bubble($grey-2, #000, 0 15px 15px 15px);

  }
  
  .avatar {
    width: 17px;
    height: 17px;
    border-radius: 100%;
    margin-right: 6px;
    position: relative;
    bottom: 5px;
  }

}

