@import "variables.scss";
.#{$namespace}widget-wrapper-css {

  @import "common.scss";

  .#{$namespace}conversation-container {
    .#{$namespace}sender {
      align-items: center;
      display: flex;
      background-color: $grey-2;
      height: 45px;
      padding: 5px;
    }
    
    .#{$namespace}new-message {
      font-size: 0.9em;
      width: 100%;
      border: 0;
      background-color: $grey-2;
      height: 30px;
      padding-left: 15px;
      font-family: $fontfamily;
    
      &:focus {
        outline: none;
      }
    }
    
    
    .#{$namespace}send {
      background: $grey-2;
      border: 0;
      
      .#{$namespace}send-icon {
        height: 25px;
      }
    }
    
    @media screen and (max-width: 800px)  {
      .#{$namespace}sender {
        border-radius: 0;
        flex-shrink: 0;
      }
    }
    
  }

  .#{$namespace}widget-embedded {
    .#{$namespace}sender {
      flex: 0, 0, auto;
      height: 60px;
    }
  }
}