@import "variables.scss";

@import "common.scss";

.#{$namespace}conversation-container {

  .#{$namespace}replies {
    @include replies;
  }
  
  .#{$namespace}reply {
    @include reply;
  }
  
  .#{$namespace}response {
    @include message-bubble($gray-6, #000, 20px);
    max-width: 222px;
  }
  
  .#{$namespace}avatar {
    width: 17px;
    height: 17px;
    border-radius: 100%;
    margin-right: 6px;
    position: relative;
    bottom: 5px;
  }

}
