.rw-pulsating {
    box-shadow: 0 0 0 0 rgba(150, 150, 150, 0.7);
    transform: scale(1);
    animation: rw-pulse 1s infinite;
    cursor: pointer;
}

@keyframes rw-pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(150, 150, 150, 0.4);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 2px 13px rgba(150, 150, 150, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(150, 150, 150, 0);
    }
}

.rw-cursor-pointer {
    cursor: pointer;
}

.rw-question-mark {
    height: 11px;
    width: 11px;
    border-radius: 420px;
    padding: 4px;
    background-color: rgba(150, 150, 150, 0.9);
    position: absolute;
    box-sizing: content-box;
    /* animation: rw-pulse 1s infinite; */
}

.rw-pulsating-dot {
    -webkit-animation: rw-pulse-dot 1s infinite;
    animation: rw-pulse-dot 1s infinite;
    height: 17px;
    width: 17px;
    border-radius: 420px;
    padding: 6px;
    background-color: rgba(76, 189, 90, 1);
    box-sizing: content-box;
    position: absolute;
}

.rw-pro-widget-embedded {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

@keyframes rw-pulse-dot {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(76, 189, 90, 0.4);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 2px 17px rgba(76, 189, 90, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(76, 189, 90, 0);
    }
}
