@import url('https://fonts.googleapis.com/css?family=Roboto');

$roboto: 'Roboto', serif;  

@mixin message-bubble($color, $textColor, $borderRadius: 15px) {
  background-color: $color;
  color: $textColor;
  border-radius: $borderRadius;
  padding: 11px 15px;
  max-width: 215px;
  text-align: left;
  font-family: $roboto;
}

@mixin borderless-message-bubble($color, $textColor) {
    border-color: $color;
    border-radius: 15px;
    color: $textColor;
    border-style: solid;
    padding: 15px;
    max-width: 215px;
    max-height: 1em;
    text-align: center;
    font-family: $roboto;
  }

@mixin widget-container-fs {
  height: 100%;
  margin: 0;
  max-width: none;
  width: 100%;
}

@mixin header-fs {
  border-radius: 0;
  flex-shrink: 0;
  position: relative;
}

@mixin title-fs {
  //padding: 0 0 15px 0;
}

@mixin header-buttons-fs {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: row;
}

@mixin header-button-fs {
  @include center;
  display: inline-block;
  background-color: $blue-1;
  border: 0;
  width: 40px;
  cursor: pointer;

  &:focus, &:active, &:hover {
    outline: none;

    &::-moz-focus-inner {
      border:0;
    }
  }
}

@mixin header-icon-fs {
  &.default {
    width: 20px;
    height: 20px;

    &:focus, &:active, &:hover {
      width: 24px;
      height: 24px;
    }
  }

  width: 30px;
  height: 30px;
  padding-top: 3px;

  &:focus, &:active, &:hover {
    width: 34px;
    height: 34px;
    top: -2px;
    margin-left: -2px;
  }
}

@mixin messages-container-fs {
  height: 100%;
  max-height: none;
}

@mixin conversation-container-fs {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 0;
}

@mixin loading-fs {
  border-radius: 0;
  flex-shrink: 0;
  position: relative;
}

@mixin launcher-fs {
  margin: 0 20px 20px 0;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}