@import './variables.scss';


$fontfamily: $font-family;  

@mixin message-bubble($color, $textColor, $borderRadius: 20px) {
  background-color: $color;
  color: $textColor;
  border-radius: $borderRadius;
  padding: 9px 14px;
  max-width: 222px;
  text-align: left;
  font: $speechbubble-font;
}

@mixin borderless-message-bubble($color, $textColor) {
    border-color: $color;
    border-radius: 20px;
    color: $textColor;
    border-style: solid;
    padding: 15px;
    max-width: 222px;
    max-height: 1em;
    text-align: center;
    font-family: $fontfamily;
  }

@mixin widget-container-fs {
  height: 100%;
  margin: 0;
  max-width: none;
  width: 100%;
}

@mixin header-fs {
  border-radius: 0;
  flex-shrink: 0;
  position: relative;
}

@mixin title-fs {
  //padding: 0 0 15px 0;
}

@mixin header-buttons-fs {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: row;
}

@mixin header-button-fs {
  @include center;
  display: inline-block;
  background-color: transparent;
  border: 0;
  width: 40px;
  cursor: pointer;

  &:focus, &:active, &:hover {
    outline: none;

    &::-moz-focus-inner {
      border:0;
    }
  }
}

@mixin header-icon-fs {
  &.#{$namespace}default {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding-top: 0px;
    background-color: $gray-6;
    color: $black;
    transition: background-color 0.35s;

    &:focus, &:active, &:hover {
      width: 24px;
      height: 24px;
    }
  }

  width: 30px;
  height: 30px;
  padding-top: 3px;

  &:focus, &:active, &:hover {
    background-color: $gray-15;
  }
}

@mixin messages-container-fs {
  height: 100%;
  max-height: none;
}

@mixin conversation-container-fs {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 0;
  // box-shadow: 0px 0.5px 4px $chat-widget-shadow-color, 0px 8px 16px;
}

@mixin loading-fs {
  border-radius: 0;
  flex-shrink: 0;
  position: relative;
}

@mixin launcher-fs {
  margin: 0 20px 20px 0;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin reply {
  transition: border-color 0.3s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color:$white;
  border-color: $gray-15;
  border-radius: 4px;
  border-width: 1px;
  color: $accent;
  border-style: solid;
  padding: 4px 13px 5px;
  max-width: 215px;
  min-height: 1.7em;
  text-align: center;
  font: $component-font;
  cursor: pointer;
  margin: 0.25em;
  text-decoration: unset;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    border-color: $accent;
  }
}

@mixin replies {
  margin: 5px 0px;
  display: flex;
  line-height: 20px;
  flex-wrap: wrap;
  font-size: 16px;
  font-family: $fontfamily;
}